body {
  background-image: url("fondo.jpeg");
  background-size: cover;
}

  #board {
   height: 800px;
   margin: 30px auto;
   width: 800px;
   background-color: rgba(0, 0, 0, 0.4);
 }

 .cell {
   float: left;
   height: 16px;
   width: 16px;
   box-sizing: border-box;
   border: 1px solid rgba(255, 255, 255, 0.1);
 }

 .student {
   background-color: yellow;
   /*background: url('logo-student.png');
   background-size: cover;
   z-index: 2;*/
 }

.item {
  background-color: red;
  /*background-image: url('logo-item.png');
  background-size: contain;*/

}
