body {
  background-image: url("fondo.jpeg");
  background-size: cover;
}

  #board {
   height: 800px;
   margin: 30px auto;
   width: 800px;
   background-color: rgba(0, 0, 0, 0.4);
 }

 #score {
   background-color: rgba(255, 170, 32, 0.6);;
   border-radius: 20%;
   font-size: 30px;
   font-family: Arial;
   width:200px;
   height:60px;
   padding: 20px;
   padding-top: 0;
   margin-left: 80%;
   float: left;
   position: absolute;
 }

 #scoreTitle{
   color: black;
 }

 .cell {
   float: left;
   height: 16px;
   width: 16px;
   box-sizing: border-box;
   border: 1px solid rgba(255, 255, 255, 0.1);
 }

 .student {
   background-color: yellow;
   /*background: url('logo-student.png');
   background-size: cover;
   z-index: 2;*/
 }

.item {
  background-color: red;
  /*background-image: url('logo-item.png');
  background-size: contain;*/

}
