* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
}

body {
  background-image: url("fondo.jpeg");
  background-size: cover;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;

}

  #board {
   height: 800px;
   margin: 0 auto;
   width: 800px;
   background-color: rgba(0, 0, 0, 0.4);
 }

 #score {
   background-color: rgba(221, 232, 47, 0.8);
   border: 2px solid white;
   font-family: Arial;
   width: 180px;
   padding: 1em;
   position: absolute;
   right: 1em;
   top: 1em;
   color: black;
   height: auto;
   min-height: 220px;
   font-size: 2rem;
   text-align: center;
 }

#score h3 {
  font-family: "Monofett", sans-serif;
}

#score span {
  font-family: sans-serif;
  font-size: 3rem;
}

 #scoreTitle{
   color: black;
 }

 #timeTitle{
   color: black;
 }

 .cell {
   float: left;
   height: 16px;
   width: 16px;
   box-sizing: border-box;
   border: 1px solid rgba(255, 255, 255, 0.1);
 }

 .student {
   background-color: yellow;
   /*background: url('logo-student.png');
   background-size: cover;
   z-index: 2;*/
 }

.item {
  background-color: red;
  /*background-image: url('logo-item.png');
  background-size: contain;*/

}
